@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body {
	margin: 0;
	padding: 0;
	background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

/* NAV STYLES
*/

.navContainer a {
	text-decoration: none;   
	border-bottom: 2px solid transparent;    
  transition: 0.5s ease;
  color: rgb(91, 91, 91);
}

.navContainer a:hover {
  border-bottom: 2px solid rgb(1, 209, 178);
  color: rgb(0, 0, 0);
}

.navContainer a:visited {
  color: rgb(91, 91, 91);
}


/*END OF NAV STYLES
*/

/* TOP PORTION
*/
#topPortion {
	display: flex;
	width: 90%;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
	margin: auto;
}

#loginContainer {
	display: flex;
	width: 200px;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* END OF TOP PORTION
*/

/*MAIN CONTENT AREA (BLOG POSTS)
*/
.card {
	margin-top: 50px;
}
.card-title, .card-footer {
	margin-top: 20px;
}

.visible {
	   visibility: visible;
}
.invisible {
	visibility: hidden;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}


/*END OF MAIN CONTENT AREA (BLOG POSTS)
















*/
